@font-face {
	font-family: stjedise;
	src: url(../fonts/STJEDISE.TTF);
}

body{
  font-family: 'Pathway Gothic One', sans-serif;
  font-family: 'Sawarabi Gothic', sans-serif;
  background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
  font-size: 16px;
  color: yellow;
}